<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <style>

    @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.product-card {
  width: 580px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 20px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 0px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4caf50;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #4caf50;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #4caf50;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

  </style>
  <title>RentAWheel</title>
</head>
<body>
    <a href="/adminpage"><h1>RentA<span id="wheel">Wheel.</span></h1></a>
              
          <div class="product-card">
          <div class="product-tumb">
   <img src="{{booking.imgurl}}" alt="">
</div> 
  
            <div class="product-details">
              <span class="product-catagory">Status: {{booking.status}}</span>
              <h4><a href="">{{booking.model}}</a></h4>
              <p >Booking ID:<span data-vid="{{booking.vehicleid}}" id="boid">{{booking._id}}</span><br>
              Driver's Name: {{booking.clientname}} <br> 
              Driver's Contact: {{booking.clientcontact}} <br> 
              Driver's License: {{booking.clientlicense}} <br> 
              Pickup Date: {{booking.pickupdate}}<br> 
              Dropoff Date: {{booking.dropoffdate}}<br> 
              <div class="product-bottom-details">
                <div class="product-price">Rs.{{booking.payableamt}}</div>
                <div>
                <input type="text" id="otp" placeholder="OTP"> </a>
                <input type="button" id="verify" value="Verify"> </a>
                <input type="button" id="complete" value="Complete"> </a>
                
                </div>

              </div>
            </div>
          </div>
    <script src="https://unpkg.com/axios@0.25.0/dist/axios.min.js"></script>

        <script src="/js/verifyotp.js"></script>
</body>
</html>